/* Common css ============= */

body {
  background-color: #f8f8f8;
}

.section-subtitle {
  color: #0779e4;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}

.section-title {
  text-align: center;
  tab-size: 2rem;
}

.section {
  padding-top: 3%;
  padding-bottom: 4%;
}

p {
  color: #999;
}

/* Header ============= */

.header {
  background-color: #0779e4;
  color: white;
  /* padding: 1em 0; */
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  display: inline-block;
  padding: 0.2em 0;
}

.nav-link {
  /* border: 1px solid black;
  background-color: white; */
  padding: 0.6em 1.2em;
  display: inline-block;
}

.nav-link:hover {
  background-color: #4995dc;
}

/* Services ============= */

.services-cards {
  display: flex;
  margin-bottom: 2rem;
  gap: 15px;
}

.services-cards .card {
  background-color: #fff;
  flex-basis: 33%;
  padding: 1.5em;
}

.card-title {
  color: #0779e4;
}

.card-link {
  color: #0779e4;
}
