body {
  /* background-color: coral; */
}

.header {
  background-color: #0779e4;
  color: white;
  /* padding: 1em 0; */
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
  display: inline-block;
  padding: 0.2em 0;
}

.nav-link {
  /* border: 1px solid black;
  background-color: white; */
  padding: 0.6em 1.2em;
  display: inline-block;
}

.nav-link:hover {
  background-color: #4995dc;
}
